
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
a{
  text-decoration: none;
  cursor: pointer;
}

.search{
  background: #f5f6f8;
  width: 150rem;
  height: 50px;
  font-family: Karla;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-align: left;
  border: none;
}

ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.blog-ctF {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.blog-ctF .header-wvX {
  box-sizing: border-box;
  padding-left: 14rem;
  width: 100%;
  height: 61.3rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb {
  width: 100%;
  height: 100%;
  position: relative;
}
.blog-ctF .header-wvX .content-HUb .image-hero-eK9 {
  width: 67.3rem;
  height: 61.3rem;
  position: absolute;
  left: 62.7rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.blog-ctF .header-wvX .content-HUb .frame-8238-B4B {
  width: 55.6rem;
  height: 27.2rem;
  position: absolute;
  left: 0;
  top: 17.1rem;
}
.blog-ctF .header-wvX .content-HUb .frame-8238-B4B .frame-8237-uF5 {
  width: 55.6rem;
  height: 23rem;
  position: absolute;
  left: 0;
  top: 0;
}
.blog-ctF .header-wvX .content-HUb .frame-8238-B4B .frame-8237-uF5 .headline-eCf {
  margin-bottom: 1.5rem;
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 1.2666666667;
  text-transform: uppercase;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
}
.blog-ctF .header-wvX .content-HUb .frame-8238-B4B .frame-8237-uF5 .body-text-xDM {
  max-width: 55.6rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.6;
  text-transform: capitalize;
  color: #000000;
  font-family: Rambla, 'Source Sans Pro';
}
.blog-ctF .header-wvX .content-HUb .frame-8238-B4B .search-bar-TR1 {
  box-sizing: border-box;
  padding: 1.8rem 1.5rem;
  width: 40.6rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 21.2rem;
  background-color: #f5f6f8;
}
.blog-ctF .header-wvX .content-HUb .frame-8238-B4B .search-bar-TR1 .frame-6-P3m {
  box-sizing: border-box;
  padding: 0.25rem 0rem 0.25rem 0.3rem;
  width: 11.8rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.blog-ctF .header-wvX .content-HUb .frame-8238-B4B .search-bar-TR1 .frame-6-P3m .search-1-7Ef {
  margin: 0rem 0.6rem 0rem 0rem;
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .frame-8238-B4B .search-bar-TR1 .frame-6-P3m .search-book-2sR {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.17;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Karla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .removebg-preview-1-M91 {
  width: 53.8rem;
  height: 35.8rem;
  position: absolute;
  left: 69.4rem;
  top: 12.8rem;
  object-fit: cover;
  vertical-align: top;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq {
  width: 115.8rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 3.3rem;
  display: flex;
  align-items: center;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .frame-8216-Q7H {
  margin: 1.1rem 50.5rem 1.1rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1rem;
  height: calc(100% - 2.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .frame-8216-Q7H .mybook-v5d {
  margin-right: 2rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.185;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .frame-8216-Q7H .mybook-v5d .mybook-v5d-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.185;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
}

.blog-ctF .header-wvX .content-HUb .navbar-Thq .frame-8216-Q7H .vector-5-UmM {
  margin-right: 2.1rem;
  width: 0rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .frame-8216-Q7H .shopping-cart-1-Quu {
  margin-bottom: 0.1rem;
  width: 2.2rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .navbar-MKM {
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .navbar-MKM .title-WT9 {
  margin: 0rem 4.5rem 0.6rem 0rem;
  height: 3.1rem;
  display: flex;
  column-gap: 4.5rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .navbar-MKM .title-WT9 .frame-8215-Etw {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .navbar-MKM .title-WT9 .frame-8215-Etw .explorer-QHd {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .navbar-MKM .title-WT9 .frame-8215-Etw .vector-6-LSB {
  width: 3rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .navbar-MKM .title-WT9 .shop-gkw {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .navbar-MKM .title-WT9 .blog-dgB {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog-ctF .header-wvX .content-HUb .navbar-Thq .navbar-MKM .button-abR {
  width: 18.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.185;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f6f8;
  border-radius: 3rem;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ {
  box-sizing: border-box;
  padding: 7.3rem 8.5rem 11.7rem 8.5rem;
  width: 100%;
  height: 155.4rem;
  overflow: hidden;
  position: relative;
  background-color: #f5f6f8;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH {
  margin-bottom: 2.6rem;
  width: 100%;
  height: 66.9rem;
  display: flex;
  column-gap: 2.6rem;
  align-items: center;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-1-V67 {
  box-sizing: border-box;
  padding-bottom: 4.9rem;
  width: 40.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-1-V67 .rectangle-48-di7 {
  margin-bottom: 4.7rem;
  width: 100%;
  height: 36.4rem;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-48-bg.png');
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-1-V67 .title-Z5y {
  margin: 0 6.85rem;
  width: calc(100% - 13.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-1-V67 .title-Z5y .lorem-ipsum-dolor-sit-amet-u9q {
  margin-bottom: 2.9rem;
  max-width: 26.6rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-1-V67 .title-Z5y .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-pellentesque-consequat-orci-arcu-habitasse-hac-cum-dictumst-urna-porta-ornare-ut-quis-QcP {
  max-width: 26.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  text-transform: capitalize;
  color: #000000;
  font-family: Rambla, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-2-Fd1 {
  box-sizing: border-box;
  padding-bottom: 4.9rem;
  width: 40.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-2-Fd1 .rectangle-49-bgs {
  margin-bottom: 4.7rem;
  width: 100%;
  height: 36.4rem;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-49-bg.png');
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-2-Fd1 .title-jHH {
  margin: 0 6.85rem;
  width: calc(100% - 13.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-2-Fd1 .title-jHH .lorem-ipsum-dolor-sit-amet-V1Z {
  margin-bottom: 2.9rem;
  max-width: 26.6rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-2-Fd1 .title-jHH .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-pellentesque-consequat-orci-arcu-habitasse-hac-cum-dictumst-urna-porta-ornare-ut-quis-c6B {
  max-width: 26.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  text-transform: capitalize;
  color: #000000;
  font-family: Rambla, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-3-rWK {
  box-sizing: border-box;
  padding-bottom: 4.9rem;
  width: 40.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-3-rWK .rectangle-50-byh {
  margin-bottom: 4.7rem;
  width: 100%;
  height: 36.4rem;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-50-bg.png');
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-3-rWK .title-8Tq {
  margin: 0 6.85rem;
  width: calc(100% - 13.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-3-rWK .title-8Tq .lorem-ipsum-dolor-sit-amet-sgK {
  margin-bottom: 2.9rem;
  max-width: 26.6rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-1-wqH .card-3-rWK .title-8Tq .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-pellentesque-consequat-orci-arcu-habitasse-hac-cum-dictumst-urna-porta-ornare-ut-quis-noH {
  max-width: 26.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  text-transform: capitalize;
  color: #000000;
  font-family: Rambla, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T {
  width: 100%;
  height: 66.9rem;
  display: flex;
  column-gap: 2.6rem;
  align-items: center;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-1-nRu {
  box-sizing: border-box;
  padding-bottom: 4.9rem;
  width: 40.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-1-nRu .rectangle-45-8kf {
  margin-bottom: 4.7rem;
  width: 100%;
  height: 36.4rem;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-45-bg.png');
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-1-nRu .title-5A7 {
  margin: 0 6.85rem;
  width: calc(100% - 13.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-1-nRu .title-5A7 .lorem-ipsum-dolor-sit-amet-E31 {
  margin-bottom: 2.9rem;
  max-width: 26.6rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-1-nRu .title-5A7 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-pellentesque-consequat-orci-arcu-habitasse-hac-cum-dictumst-urna-porta-ornare-ut-quis-wi7 {
  max-width: 26.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  text-transform: capitalize;
  color: #000000;
  font-family: Rambla, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-2-R7V {
  box-sizing: border-box;
  padding-bottom: 4.9rem;
  width: 40.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-2-R7V .rectangle-46-Aas {
  margin-bottom: 4.7rem;
  width: 100%;
  height: 36.4rem;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-46-bg.png');
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-2-R7V .title-HfV {
  margin: 0 6.85rem;
  width: calc(100% - 13.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-2-R7V .title-HfV .lorem-ipsum-dolor-sit-amet-SHV {
  margin-bottom: 2.9rem;
  max-width: 26.6rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-2-R7V .title-HfV .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-pellentesque-consequat-orci-arcu-habitasse-hac-cum-dictumst-urna-porta-ornare-ut-quis-xFq {
  max-width: 26.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  text-transform: capitalize;
  color: #000000;
  font-family: Rambla, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-3-QNj {
  box-sizing: border-box;
  padding-bottom: 4.9rem;
  width: 40.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-3-QNj .rectangle-47-YUw {
  margin-bottom: 4.7rem;
  width: 100%;
  height: 36.4rem;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-47-bg.png');
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-3-QNj .title-sn7 {
  margin: 0 6.85rem;
  width: calc(100% - 13.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-3-QNj .title-sn7 .lorem-ipsum-dolor-sit-amet-dFV {
  margin-bottom: 2.9rem;
  max-width: 26.6rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .body-FhZ .content-Br7 .item-2-r2T .card-3-QNj .title-sn7 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-volutpat-pellentesque-consequat-orci-arcu-habitasse-hac-cum-dictumst-urna-porta-ornare-ut-quis-k5D {
  max-width: 26.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  text-transform: capitalize;
  color: #000000;
  font-family: Rambla, 'Source Sans Pro';
  flex-shrink: 0;
}
.blog-ctF .footer-BwD {
  box-sizing: border-box;
  padding: 3.1rem 8.7rem 3rem 66.4rem;
  width: 100%;
  height: 8rem;
  background-color: #ff971d;
  flex-shrink: 0;
}
.blog-ctF .footer-BwD .frame-8233-XVH {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.blog-ctF .footer-BwD .frame-8233-XVH .mybook-5mh {
  margin-right: 32.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.blog-ctF .footer-BwD .frame-8233-XVH .mybook-5mh .mybook-5mh-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
}
.blog-ctF .footer-BwD .frame-8233-XVH .navbar-p71 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.blog-ctF .footer-BwD .frame-8233-XVH .navbar-p71 .explorer-aM5 {
  margin-right: 4.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog-ctF .footer-BwD .frame-8233-XVH .navbar-p71 .shop-X1R {
  margin-right: 4.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog-ctF .footer-BwD .frame-8233-XVH .navbar-p71 .about-Fy1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.185;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
