
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.checkout-gw1 {
  width: 100%;
  height: 145.8rem;
  position: relative;
  overflow: hidden;
  background-color: #f5f6f8;
}
.checkout-gw1 .header-2V5 {
  width: 146.8rem;
  height: 79.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  background-color: #ff971d;
}
.checkout-gw1 .header-2V5 .mask-group-MnF {
  margin: 18.3rem 29.8rem 0rem 0rem;
  width: 58.5rem;
  height: 61.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .header-2V5 .mask-group-gJj {
  width: 58.5rem;
  height: 61.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .button-pQw {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 9.75rem;
  top: 8.25rem;
  object-fit: contain;
  vertical-align: top;
}
.checkout-gw1 .content-x1M {
  width: 127rem;
  height: 118.6rem;
  position: absolute;
  left: 8.5rem;
  top: 18.6rem;
  display: flex;
  align-items: center;
}
.checkout-gw1 .content-x1M .big-card-HJX {
  margin-right: 4.1rem;
  box-sizing: border-box;
  padding-bottom: 3.3rem;
  width: 72.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT {
  margin: 0rem 3.3rem 5.671rem 0rem;
  width: calc(100% - 3.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .image-book-vcP {
  margin: 0rem 3.6rem 0.029rem 0rem;
  width: 28.7rem;
  height: 43.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK {
  width: 37.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 {
  margin-bottom: 4.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .frame-8253-Lg7 {
  box-sizing: border-box;
  padding-right: 0.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .frame-8253-Lg7 .garis-waktu-tBq {
  margin-right: 2.8rem;
  font-size: 5.7rem;
  font-weight: 500;
  line-height: 1.185;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .frame-8253-Lg7 .plus-square-1-zVm {
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj {
  box-sizing: border-box;
  padding-top: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8252-UQw {
  margin-bottom: 2.5rem;
  width: 19rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8252-UQw .frame-8251-2BZ {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8252-UQw .frame-8251-2BZ .by-fiersa-besari-BKM {
  margin-right: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8252-UQw .frame-8251-2BZ .juli-2016-h2o {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8252-UQw .start-cvT {
  box-sizing: border-box;
  padding: 0.119rem 0.119rem 0.177rem 0.119rem;
  display: flex;
  align-items: center;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8252-UQw .start-cvT .star-1-Z51 {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8252-UQw .start-cvT .star-2-64w {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8252-UQw .start-cvT .star-3-qYK {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8252-UQw .start-cvT .star-4-P43 {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8252-UQw .start-cvT .star-5-jNo {
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8250-g39 {
  margin-right: 21.3rem;
  width: calc(100% - 21.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8250-g39 .m-read-cSb {
  margin-right: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .title-PF5 .auto-group-p4wr-LJj .frame-8250-g39 .k-votes-j1R {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .button-TCK {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .button-TCK .frame-8350-1jd {
  margin-right: 2rem;
  width: 17.65rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.185;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff971d;
  border-radius: 1rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .auto-group-lafz-pJT .headline-2vK .button-TCK .btnbuy-6WB {
  width: 17.65rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.185;
  text-transform: capitalize;
  color: rgba(255, 151, 29, 0.6000000238);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ff971d;
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH {
  margin: 0rem 4.7rem 0rem 3.8rem;
  width: calc(100% - 8.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD {
  margin-bottom: 7.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .body-text-TV9 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .body-text-TV9 .sinopsis-RRy {
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.92;
  letter-spacing: 0.0075rem;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .body-text-TV9 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-varius-nisl-sed-sit-aliquet-nullam-pretium-velit-vel-aliquam-amet-augue-risus-id-purus-dolor-dolor-sagittis-at-vulputate-rhoncus-pharetra-purus-vitae-ac-sit-nam-eleifend-mauris-duis-mattis-leo-ut-viverra-accumsan-elementum-vehicula-orci-magna-elementum-euismod-ut-sed-at-ut-non-eget-commodo-mi-scelerisque-erat-mus-adipiscing-et-mattis-vitae-sapien-turpis-eu-sit-urna-convallis-in-commodo-sed-condimentum-dictumst-vitae-ultricies-aenean-a-non-tincidunt-tortor-ut-pulvinar-vulputate-viverra-tempor-sed-turpis-at-blandit-malesuada-at-quam-enim-cursus-vitae-turpis-lectus-egestas-nunc-risus-M4j {
  max-width: 64.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.0064rem;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 {
  box-sizing: border-box;
  padding-top: 5.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .category-jzP {
  margin-bottom: 5.4rem;
  height: 3.9rem;
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .category-jzP .group-11-Uh5 {
  width: 10.8rem;
  height: 100%;
  border-radius: 1rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .category-jzP .group-11-Uh5 .btnbuy-2ib {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4375;
  letter-spacing: 0.0048rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedede;
  border-radius: 1rem;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .category-jzP .group-10-hpj {
  width: 10.8rem;
  height: 100%;
  border-radius: 1rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .category-jzP .group-10-hpj .btnbuy-U4o {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4375;
  letter-spacing: 0.0048rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedede;
  border-radius: 1rem;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .category-jzP .group-9-kHD {
  width: 10.8rem;
  height: 100%;
  border-radius: 1rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .category-jzP .group-9-kHD .btnbuy-JpX {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4375;
  letter-spacing: 0.0048rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedede;
  border-radius: 1rem;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK {
  width: 44.5rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .informasi-tambahan-juq {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.92;
  letter-spacing: 0.0075rem;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 {
  width: 100%;
  height: 12rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8258-CoR {
  width: 16.1rem;
  height: 100%;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8258-CoR .group-14-MgK {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8258-CoR .group-14-MgK .penerbit-X51 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8258-CoR .group-14-MgK .mediakita-e9d {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8258-CoR .group-13-ySo {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8258-CoR .group-13-ySo .genre-i9V {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8258-CoR .group-13-ySo .fiksi-romance-umum-2vs {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8259-ZA7 {
  width: 12.8rem;
  height: 100%;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8259-ZA7 .group-12-7SX {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8259-ZA7 .group-12-7SX .diterbitkan-tanggal-GKR {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8259-ZA7 .group-12-7SX .juli-2016-zWK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8259-ZA7 .group-17-vum {
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8259-ZA7 .group-17-vum .halaman-tLo {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8259-ZA7 .group-17-vum .halaman-cnb {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8260-k87 {
  width: 7.6rem;
  height: 100%;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8260-k87 .group-16-hZ9 {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8260-k87 .group-16-hZ9 .bahasa-fF5 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8260-k87 .group-16-hZ9 .indonesia-Pgs {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8260-k87 .group-15-Xo5 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8260-k87 .group-15-Xo5 .keterangan-Vzo {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .title-VoD .auto-group-wehm-zG7 .more-info-BtK .frame-8261-G95 .frame-8260-k87 .group-15-Xo5 .selesai-dr7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.225;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rambla, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .big-card-HJX .body-text-xoH .button-mBd {
  margin: 0rem 7.75rem 0rem 8.75rem;
  width: calc(100% - 16.5rem);
  height: 5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: capitalize;
  color: #ff971d;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ff971d;
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj {
  margin: 0.75rem 0;
  width: 50rem;
  height: calc(100% - 1.5rem);
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .hedaline-9CB {
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.185;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m {
  width: 100%;
  row-gap: 2.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 {
  box-sizing: border-box;
  padding: 1.3rem 1.7rem 1.588rem 1.7rem;
  width: 100%;
  height: 25.6rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh {
  width: 39.9944rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .image-1-vMM {
  margin: 0rem 2.3rem 0.176rem 0rem;
  width: 14.7454rem;
  height: 22.5354rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o {
  width: 22.9491rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8267-C3y {
  margin-bottom: 1.7rem;
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8267-C3y .all-the-light-we-cannot-see-x39 {
  margin-bottom: 1.3rem;
  max-width: 19rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8267-C3y .by-anthony-doerr-sA7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8266-c7h {
  margin-bottom: 1.5288rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8266-c7h .start-xST {
  margin: 0rem 2.4rem 0.171rem 0rem;
  box-sizing: border-box;
  padding: 0.119rem 0.119rem 0.177rem 0.119rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8266-c7h .start-xST .star-1-s3d {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8266-c7h .start-xST .star-2-QJT {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8266-c7h .start-xST .star-3-k7R {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8266-c7h .start-xST .star-4-5Qb {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8266-c7h .start-xST .star-5-1p3 {
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .frame-8266-c7h .votes-Zaf {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.0032rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-1-dd9 .content-Zmh .title-S4o .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-purus-morbi-eleifend-enim-tristique-64o {
  max-width: 21.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.0048rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rambla, 'Source Sans Pro';
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 {
  box-sizing: border-box;
  padding: 1.3rem 1.7rem 1.576rem 1.7rem;
  width: 100%;
  height: 25.6rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd {
  width: 39.9944rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .image-10-EKR {
  margin: 0rem 2.3rem 0.164rem 0rem;
  width: 14.7454rem;
  height: 22.5604rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o {
  width: 22.9491rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8267-iVV {
  margin-bottom: 1.7rem;
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8267-iVV .rich-people-problems-sdH {
  margin-bottom: 1.3rem;
  max-width: 13.7rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8267-iVV .by-kevin-kwan-b3V {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8266-8JK {
  margin-bottom: 1.5288rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8266-8JK .start-Usy {
  margin: 0rem 2.4rem 0.171rem 0rem;
  box-sizing: border-box;
  padding: 0.119rem 0.119rem 0.177rem 0.119rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8266-8JK .start-Usy .star-1-bBu {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8266-8JK .start-Usy .star-2-jou {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8266-8JK .start-Usy .star-3-5sm {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8266-8JK .start-Usy .star-4-Rwd {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8266-8JK .start-Usy .star-5-n1V {
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .frame-8266-8JK .votes-ivj {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.0032rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-2-kf9 .content-5Bd .title-Z6o .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-purus-morbi-eleifend-enim-tristique-4Du {
  max-width: 21.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.0048rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rambla, 'Source Sans Pro';
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP {
  box-sizing: border-box;
  padding: 1.3rem 1.7rem 1.588rem 1.7rem;
  width: 100%;
  height: 25.6rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw {
  width: 39.9944rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .image-9-cPq {
  margin: 0rem 2.3rem 0.176rem 0rem;
  width: 14.7454rem;
  height: 22.5354rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP {
  width: 22.9491rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8267-fd1 {
  margin-bottom: 1.7rem;
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8267-fd1 .rich-people-problems-DeX {
  margin-bottom: 1.3rem;
  max-width: 13.7rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8267-fd1 .by-kevin-kwan-92P {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8266-UKZ {
  margin-bottom: 1.5288rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8266-UKZ .start-dTM {
  margin: 0rem 2.4rem 0.171rem 0rem;
  box-sizing: border-box;
  padding: 0.119rem 0.119rem 0.177rem 0.119rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8266-UKZ .start-dTM .star-1-wU3 {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8266-UKZ .start-dTM .star-2-t8P {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8266-UKZ .start-dTM .star-3-ECF {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8266-UKZ .start-dTM .star-4-Arb {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8266-UKZ .start-dTM .star-5-vKy {
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .frame-8266-UKZ .votes-Gej {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.0032rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-3-XNP .content-TWw .title-7rP .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-purus-morbi-eleifend-enim-tristique-bwu {
  max-width: 21.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.0048rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rambla, 'Source Sans Pro';
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko {
  box-sizing: border-box;
  padding: 1.3rem 1.7rem 1.556rem 1.7rem;
  width: 100%;
  height: 25.6rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 {
  width: 41.1491rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .image-13-NbH {
  margin: 0rem 2.3rem 0.144rem 0rem;
  width: 15.9rem;
  height: 22.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb {
  width: 22.9491rem;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8267-sH9 {
  margin-bottom: 1.7rem;
  display: flex;
  flex-direction: column;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8267-sH9 .crazy-rich-asians-RZZ {
  margin-bottom: 1.3rem;
  max-width: 12.4rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4;
  text-transform: capitalize;
  color: #000000;
  font-family: Rubik, 'Source Sans Pro';
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8267-sH9 .by-kevin-kwan-x3h {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.185;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8266-69u {
  margin-bottom: 1.5288rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8266-69u .start-ehD {
  margin: 0rem 2.4rem 0.171rem 0rem;
  box-sizing: border-box;
  padding: 0.119rem 0.119rem 0.177rem 0.119rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8266-69u .start-ehD .star-1-mWw {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8266-69u .start-ehD .star-2-Jmm {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8266-69u .start-ehD .star-3-TPm {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8266-69u .start-ehD .star-4-zeb {
  margin-right: 0.7144rem;
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8266-69u .start-ehD .star-5-Yg7 {
  width: 1.1907rem;
  height: 1.1323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .frame-8266-69u .votes-tjy {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.0032rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rubik, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout-gw1 .content-x1M .section-side-Cnj .card-t9m .card-4-Uko .content-cs1 .title-WSb .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-purus-morbi-eleifend-enim-tristique-ptX {
  max-width: 21.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  letter-spacing: 0.0048rem;
  color: rgba(0, 0, 0, 0.3000000119);
  font-family: Rambla, 'Source Sans Pro';
}
